body {
    background: #000;
}

.date {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(11, 155, 221);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 7px;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(11, 155, 221);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 7px;
}